body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: grey;
}

button {
    position: absolute;
    background-color: #fff;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    width: 350px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 2px #cecdcd, 0px 8px 5px #000;
}

span {
    transition: all 0.5s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(var(--angle), red, rgb(246, 175, 44), rgb(255, 165, 133));
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
    z-index: -1;
    animation: spin 5s linear infinite;
}

button:hover::before {
    transform: scaleX(1);
}



button:hover {
    box-shadow: 0px 8px 2px #ef2121 , 0px 8px 2px black ;
    cursor: pointer !important;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 4px 2px #ef2121 , 0px 4px 2px black ;
}

button:hover span {
    font-size: 120%;
    color: white;
    transition: all 0.3s ease;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* CHARACTER */

/* .character {
    width: 200px;
    height: 250px;
    background-color: rgb(255, 217, 0);
    border-top: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(1000px);
    padding: 10px;
    transition: all 0.5s ease 0.1s;
    filter: drop-shadow(0px 0px 300px rgb(255, 217, 0));
    position: absolute;
    z-index: 1;
}

.eye {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.left {
    transform: translateX(25px);
}

.right {
    transform: translateX(100px);
}

.black {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.left .black {
    transform: translate(15px);
}

.right .black {
    transform: translate(15px);
}

.left-hand {
    width: 60px;
    height: 100px;
    background-color: rgb(255, 50, 0);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    z-index: 4;
    transform: translate(-6px, 170px);
    transition: all 0.5s ease 0s;
    margin: 10px;
}

.right-hand {
    width: 60px;
    height: 100px;
    background-color: rgb(255, 50, 0);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    z-index: 4;
    transform: translate(125px, 170px);
    margin: 10px;
    transition: all 0.5s ease 0s;
}


.shadow {
    width: 50px;
    height: 16px;
    background-color: rgb(255, 227, 67);
    position: absolute;
    z-index: 5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translate(5px, 22px);
    transition: all 0.5s ease 1s;
}

button:hover + .character{
    transform: translateY(250px);
    transition: all 0.4s ease;
} */

/* DUOLINGO: */

.duolingo {
    width: 550px;
    height: 550px;
    border-top: 200px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(700px);
    padding: 10px;
    transition: all 0.6s ease;
    filter: drop-shadow(0px 0px 50px rgb(255, 217, 0));
    position: absolute;
    z-index: 1;
} 

button:hover + .duolingo {
    transform: translateY(290px);
}
